<html>

<head>
    <title>About US</title>
</head>

<body>
    <h2 style="color:#03989e; text-align:center;background-color:#dfddd3; padding-top: 20px;padding-bottom: 20px;">
        Welcome to Happy Employee</h2>
    <h3 style="text-align:center;margin-bottom: 50px;">Join our organization to grow in your career</h3>
    <img src="{{ url_for('static', filename='image/image2.png') }}"
        style="width:500px; height:350px; display: block; margin:0 auto ; padding-bottom: 30px;">
    <p style="padding-left: 80px;padding-right: 80px; font-size: 20px;">Inviting you to join our team and grow
        together.we are happy to
        have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.Inviting you to join our team and grow together.we
        are happy to have you on board.Inviting you to join
        our team and grow together.we are happy to have you on board.</p>
    <div class="container" style="background-color:#dfddd3;padding-bottom: 50px;padding-top: 20px;">
        <h3 style="text-align:center;margin-top: 50px;font-size: 30px;">Join with us</h3>
        <div style="padding-left: 80px;padding-right: 80px; font-size: 20px;">
            <li style="padding-left: 80px;">Facebook:
                <a href="#" target="_blank"> https://www.facebook.com/happy_employee</a>
            </li>
            <li style="padding-left: 80px;">Instagram : <a href="#"
                    target="_blank">https://www.instagram.com/happy_employee</a></li>
            <li style="padding-left: 80px;">LinkedIn : <a href="#"
                    target="_blank">https://www.linkedin.com/happy_employee</a></li>
        </div>
    </div>

</body>

</html>
