<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="p-3 m-3">
                    <h2>python</h2>
                    <p>Inviting you to join our team and grow together.we are happy to have you on board.Inviting you to
                        join
                        our team and grow together.we are happy to have you on board.</p>
                    <button class="btn btn-success">enroll</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-3 m-3">
                    <h2>java </h2>
                    <p>Inviting you to join our team and grow together.we are happy to have you on board.Inviting you to
                        join
                        our team and grow together.we are happy to have you on board.</p>
                    <button class="btn btn-success">enroll</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-3 m-3">
                    <h2>DevOps</h2>
                    <p>Inviting you to join our team and grow together.we are happy to have you on board.Inviting you to
                        join
                        our team and grow together.we are happy to have you on board.</p>
                    <button class="btn btn-success">enroll</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-3 m-3">
                    <h2>Data Analysis</h2>
                    <p>Inviting you to join our team and grow together.we are happy to have you on board.Inviting you to
                        join
                        our team and grow together.we are happy to have you on board.</p>
                    <button class="btn btn-success">enroll</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
